@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




html,
body {
  color: #173309;
  padding: 0;
  margin: 0;
  font-family:  Montserrat, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 400;
    background-image: url('../public/BugspotterBG.jpg');
    background-size:100%; 
    background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.userName{
  font-weight: bolder;
}

.navBarItems{
margin: none;
}
.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navLinks{
 margin-right: 50px !important;
 font-size: large;
}
.map-container{
  height: 400px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 0px #000000;
  margin-bottom: 30px;
}
.map :focus{
  outline: none;
}
.homeLink{
  margin-left: 50px;;
}
.landingPageHeader{
  margin-top: none;
  margin-bottom: 7px;
}
.logOutText{
  margin-bottom: 20px;
}
.landingPageContainer{
  padding-top: 0;
}
.profileCardTitle{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}
.profileCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 20px;
  font-weight: 500;
}
.profileUserItems{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileUserStats{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}
.profileButtons{
  display: flex;
  flex-direction: column;
  margin : auto;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 200px;
  padding: auto;
}
.singleProfileButton{
  margin-top: 10px;
  margin-bottom: 10px;
}
.feedContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.postCardBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  box-shadow: #173309 2px 3px 5px 0px;
  height: fit-content;
  padding: auto;
}
.postDescription{
  background-color: #6B895B !important;
  padding: 5px;
  color: #FAFFF1;
  border-radius: 7px;
  max-width: 260px;
  min-width: 260px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
 }
.tag{
  background-color: #173309;
  color: #FAFFF1;
  margin: 5px;
  padding: 5px;
  border-radius: 7px;
}
.tagContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.postCardButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 7px;
  min-width: 79px;
  font-weight: 600;
}
.collectionDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.singlePostContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin : auto;
  max-width: 800px;
  align-items: space-between;
}
.singlePostCard{
  align-items: start;
}
.postTags{
  display: flex;
  flex-direction: row;
  margin-top: 3px;
}
.postTagTitle{
  margin-top: 10px;
  margin-bottom: 0px;
}
.individualTagOnPost{
  background-color: #173309;
  color: #FAFFF1;
  margin: 5px;
  padding: 5px;
  border-radius: 7px;
}
.myPostsDiv{
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 800px;
  justify-content: center;
}
.myPostsTitle{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}
.createPostButton{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: fit-content;
}
.collectionButtonDiv{
  display: flex;
  flex-direction: row;
}
.myCollectionCardButtons{
  display: flex;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
}
.collectionCardBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  border: none;
  box-shadow: #173309 1px 2px 5px 0px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: white;
  margin-top: 25px;
}
.collectionCard{
  border: none;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #FAFFF1 ;
  
}
.myCollectionsHeader{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-weight: 700;
}
.collectionsDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 800px;
}
.collectionsTitle{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;

}

.collectionForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.postForm{
  margin: auto;
  max-width: 1000px;
  font-weight: 700;
}
.postFormTitle{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.commentCardBody{
  width: 800px;
  margin-bottom: 30px;
}
.postCardWithMapContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 800px;
  max-height: 335px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.postDetailsMap{
  padding-top: 19px;
  height: 330px;
  width: 450px;
  border-radius: 5px;
}
.postImage{
  height: 231px;
  width: 288px;
}
.postFormMapContainer{
  height: 400px;
  width: 100%;
  margin-bottom: 10px;
  margin-left: none;
  margin-right: none;
  padding: none;
}
.tagFilterButtonsDiv{
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.filterButtons{
  font-weight: 600;
  box-shadow: #173309 1px 2px 5px 0px;
  margin-left: 5px;
  margin-right: 5px;
}
.removeFilterDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.filterTitle{
 display: flex;
justify-content: center;
}
body {
  background-color: #FAFFF1;
}
